@using Freemold.Modules;
@{
    var countrylist = ViewBag.countrylist as List<TbCode> ?? new List<TbCode>();
    var productcategory = ViewBag.productcategory as List<TbCode> ?? new List<TbCode>();
    var timeline = ViewBag.timeline as List<TbCode> ?? new List<TbCode>();
    var budgetrange = ViewBag.budgetrange as List<TbCode> ?? new List<TbCode>();
    var orderquantity = ViewBag.orderquantity as List<TbCode> ?? new List<TbCode>();
}
<main id="main" class="page" role="main">
    <div class="inner">
        <div id="contact" class="contact contact--sub" data-skip>
            <div class="contact__container">
                <div class="contact__text">
                    <h2 class="main-tit">Let’s Start <br>the Conversation</h2>
                    <p class="main-desc contact__desc contact__desc--sub">
                        Tell us what you're looking for. <br>
                        The more details you share, the better we can but <br>
                        don’t worry if you’re not sure yet.
                    </p>
                    <iframe class="contact__map"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.9381756364755!2d126.9703952764245!3d37.39129433415647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5e157540a801%3A0x1f51defd8e39c673!2z6rK96riw64-EIOyViOyWkeyLnCDrj5nslYjqtawg7Z2l7JWI64yA66GcIDQxNQ!5e0!3m2!1sko!2skr!4v1760423213568!5m2!1sko!2skr" width="600" height="450" style="border:0;" allowfullscreen=""  referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <form class="contact__form" action="">
                    <fieldset class="contact__fieldset">
                        <legend class="contact__legend">QUICK CONTACT</legend>
                        <label class="contact__field">
                            <p class="contact__label">Full Name</p>
                            <input type="text" class="contact__input" name="fullname" id="fullname">
                        </label>
                        <label class="contact__field">
                            <p class="contact__label">Email Address</p>
                            <input type="text" class="contact__input" name="email" id="email">
                        </label>
                        <div class="contact__field">
                            <p class="contact__label">Country</p>
                            <select class="contact__input contact__input--select" name="country" id="country">
                                <option value="">Choose one</option>
                                @foreach (var country in countrylist)
                                {
                                    <option value="@country.Code">@country.Name</option>
                                }
                            </select>
                        </div>
                        <label class="contact__field">
                            <p class="contact__label">
                                Company Name / Dept. / Position
                            </p>
                            <input type="text" class="contact__input" name="company" id="company">
                        </label>
                        <div class="contact__field">
                            <p class="contact__label">Type of Service</p>
                            <div class="contact__group contact__group--radio">
                                <label class="contact__radio">
                                    <input type="radio" class="contact__hidden" name="contactType" id="contactType1" value="OEM" hidden  checked/>
                                    <div class="contact__type" aria-hidden="true"></div>
                                    <p class="contact__msg">OEM</p>
                                </label>
                                <label class="contact__radio">
                                    <input type="radio" class="contact__hidden" name="contactType" id="contactType2" value="ODM" hidden />
                                    <div class="contact__type" aria-hidden="true"></div>
                                    <p class="contact__msg">ODM</p>
                                </label>
                                <label class="contact__radio">
                                    <input type="radio" class="contact__hidden" name="contactType" id="contactType3" value="OBM" hidden />
                                    <div class="contact__type" aria-hidden="true"></div>
                                    <p class="contact__msg">OBM</p> 
                                </label>
                                <label class="contact__radio">
                                    <input type="radio" class="contact__hidden" name="contactType" id="contactType4" value="NotSure" hidden>
                                    <div class="contact__type" aria-hidden="true"></div>
                                    <p class="contact__msg">Not sure yet</p>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="contact__fieldset">
                        <legend class="contact__legend">TELL US MORE</legend>
                        <div class="contact__field">
                            <p class="contact__label">Product Category</p>
                            <select class="contact__input contact__input--select" name="category" id="category">
                                <option value="">Choose one</option>
                                @foreach (var item in productcategory)
                                {
                                    <option value="@item.Code">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="contact__field">
                            <p class="contact__label">Target Launch Timeline</p>
                            <select class="contact__input contact__input--select" name="timeline" id="timeline">
                                <option value="">Choose one</option>
                                @foreach (var item in timeline)
                                {
                                    <option value="@item.Code">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="contact__field">
                            <p class="contact__label">Estimated Order Quantity</p>
                            <select class="contact__input contact__input--select" name="quantity" id="quantity">
                                <option value="">Choose one</option>
                                @foreach (var item in orderquantity)
                                {
                                    <option value="@item.Code">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="contact__field">
                            <p class="contact__label">Budget Range</p>
                            <select class="contact__input contact__input--select" name="budgetrange" id="budgetrange">
                                <option value="">Choose one</option>
                                @foreach (var item in budgetrange)
                                {
                                    <option value="@item.Code">@item.Name</option>
                                }
                            </select>
                        </div>
                        <label class="contact__field">
                            <p class="contact__label">Formula Requirements</p>
                            <input type="text" class="contact__input" placeholder="(e.g. vegan, fragrance-free, functional claims, etc.)" name="formula" id="formula">
                        </label>
                        <label class="contact__field">
                            <p class="contact__label">Packaging Preferences</p>
                            <input type="text" class="contact__input" placeholder="(e.g. tube, jar, eco-material, etc.)" name="packaging" id="packaging">
                        </label>
                        <label class="contact__field">
                            <p class="contact__label">Other Notes / Questions</p>
                            <textarea class="contact__input contact__input--textarea" name="notes" id="notes" placeholder="Anything else you'd like to tell us?"></textarea>
                        </label>
                    </fieldset>
                    <fieldset class="contact__validate">
                        <label class="contact__chk">
                            <input type="checkbox" class="contact__hidden" id="contactchk" hidden>
                            <div class="contact__value"></div>
                            <p class="contact__msg">Personal Information Processing Policy Agreement</p>
                        </label>
                        <button type="button" class="contact__btn contact__btn--wide" onclick="contactinsert()">Contact us</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <script src="~/js/layout/common/contact.js"></script>
    </div>
</main>
<script>
   function contactinsert(){

        const contactchk = $('#contactchk').is(':checked');
        const fullname = $("#fullname").val() || "" ;
        const email    = $("#email").val()    || "" ;
        const country  = $("#country").val()  || "" ;
        const company  = $("#company").val()  || "" ;
        const productcategory = $("#category").val() || "";
        const targetlaunchtimeline = $("#timeline").val() || "";
        const estimatedorderquantity = $("#quantity").val() || "";
        const budgetrange = $("#budgetrange").val() || "";
        const formula = $("#formula").val() || "";
        const packaging = $("#packaging").val() || "";
        const notes = $("#notes").val() || "";
        const typeofservice  =  $("input:radio[name=contactType]:checked").val( ) ;


        

       if(fullname.trim() === ""){
            alert('Please register your full name');
            $("#fullname").focus();
            return false; 
        }

        if(email.trim() === ""){
            alert('Please register your email address');
            $("#email").focus();
            return false; 
        }

        if(country.trim() === ""){
            alert('Please select a country');
            $("#country").focus();
            return false; 
        }

        if(company.trim() === ""){
            alert('Please register your company name / dept. / position');
            $("#company").focus();
            return false; 
        }

        if(productcategory.trim() === ""){
            alert('Please select a Product Category');
            $("#productcategory").focus();
            return false;
        }

        if(targetlaunchtimeline.trim() === ""){
            alert('Please select a Target Launch Timeline');
            $("#timeline").focus();
            return false;
        }

        if(targetlaunchtimeline.trim() === ""){
            alert('Please select a Target Launch Timeline');
            $("#timeline").focus();
            return false;
        }

        if(estimatedorderquantity.trim() === ""){
            alert('Please select a Estimated Order Quantity');
            $("#timeline").focus();
            return false;
        }

        if(budgetrange.trim() === ""){
            alert('Please select a Budget Range');
            $("#timeline").focus();
            return false;
        }

        if(notes.trim() === ""){
           alert('Please register Other Notes / Questions');
           $("#timeline").focus();
           return false;
        }

        if(!contactchk){
           alert('Please agree to the Personal Information Processing Policy');
           $("#contactchk").focus();
           return false;
        }


          const param = {
             FullName: fullname,
             Email: email,
             Country: country,
             CompanyName : company,
             TypeofService : typeofservice,
             ProductCategory : productcategory,
             TargetLaunchTimeline : targetlaunchtimeline,
             EstimatedOrderQuantity : estimatedorderquantity,
             BudgetRange : budgetrange,
             FormulaRequirements : formula,
             PackagingPreferences : packaging,
             Notes : notes
          };

         
         $.ajax({
             url: "/Contact/ContactInsert",
             type: "POST",
             data: param,
             dataType: "json",
             beforeSend: showLoading
         })
         .done(function(data){

              if(data.item1 == "success"){

                   alert('It has been received.');
                   location.reload();
                  
              }else{
                   alert('Reception failed.');
                   location.reload();
              }

         })
         .fail(function(xhr){
             console.error("POST 실패:", xhr);
         })
         .always(function(){                 // 성공/실패 상관없이 마지막에
           hideLoading();
          });
    }
</script>