@using Freemold.Modules.Models;
@using Freemold.Modules.Common;
@using System.Globalization;
@{

    var list = ViewBag.list as List<AdminProductModel> ?? new List<AdminProductModel>();
    int pageno = (int)ViewBag.pageno;
    string fileurl = ViewBag.fileurl as string ?? "";

}
<div class="container-fluid px-4">
    <div class="mb-3 mt-4">
        <form class="d-flex align-items-center" role="search">
            <input type="text" class="form-control form-control-sm me-2 datepicker" placeholder="이름 검색" style="max-width: 100px;">
            <span class="mx-2">~</span>
            <input type="text" class="form-control form-control-sm me-2 datepicker" placeholder="근무지 검색" style="max-width: 100px;">
            <button type="submit" class="btn btn-sm btn-primary">검색</button>
        </form>
    </div>
    <div class="row mt-4">
        <div class="col-xl-12">
            <div class="card-body">
                <table class="table table-bordered table-hover table-sm mb-0">
                    <thead class="table-light">
                        <tr class="text-center">
                            <th></th>
                            <th>번호</th>
                            <th>업체명</th>
                            <th>이미지</th>
                            <th>제품명</th>
                            <th>제품코드</th>
                            <th>카테고리</th>
                            <th>용량</th>
                            <th>사이즈</th>
                            <th>재질</th>
                            <th>원산지</th>
                            <th>조회</th>
                            <th>노출</th>
                            <th>승인</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (list.Any())
                        {
                            int no = pageno;
                            foreach (var item in list)
                            {
                                ++no;
                                <tr>
                                    <td><input type="checkbox" name="produid" value="@item.ProdUid" /></td>
                                    <td class="text-center">@no</td>
                                    <td>@item.CompanyName</td>
                                    <td class="text-center">
                                        <div class="imgcnt">@item.ImgCnt</div> <!--이미지수-->
                                        <div class="viewcnt">@item.Visit</div> <!--조회수-->
                                        <img src="@(fileurl)/Product/@(item.PImg1)" style="height:60px;cursor:pointer" onclick="productimg(@item.ProdUid)" />
                                    </td>
                                    <td><a href="javascript:productview(@item.ProdUid)" class="link-dark">@item.PName</a></td>
                                    <td><a href="javascript:productview(@item.ProdUid)" class="link-dark">@item.PCode</a></td>
                                    <td>@Html.Raw(item.PCategoryName?.Replace("|", "<br/>"))</td>
                                    <td>@(item.PCapacity + " " + item.PCapUnit)</td>
                                    <td>@item.PSize</td>
                                    <td class="text-center">@item.PQuality</td>
                                    <td class="text-center">@item.POrigin</td>
                                    <td class="text-center">@item.PHit</td>
                                    <td class="text-center"><input type="checkbox" name="gp" @(item.PUseSt == "Y" ? "checked" : "") data-prod_uid="@(item.ProdUid)" onclick="stviewcheckchange(this)" /></td>
                                    <td>@item.PApproval</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

                @Html.Partial(Url.Content("_Pagination"))
            </div>
        </div>
    </div>

</div>
<!-- ===== Modal ===== -->
<div class="modal fade" id="imagegallerymodal" tabindex="-1" aria-labelledby="imagegallerymodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="imagegallerymodalDialog">
        <!-- 여기에 서버에서 내려준 .modal-content가 들어감 -->
    </div>
</div>


<form name="frm" id="frm" method="post" action="/Home/ProductEdit">
    <input type="hidden" id="produid" name="produid" />
</form>
<script>
    function productview(puid){

      $("#produid").val(puid);

      const frm = document.getElementById('frm');
      frm.submit();

    }

    function stviewcheckchange(el){

        const checked = $(el).is(':checked');
        const PUseSt = checked ? "Y" : "N";

        const prod_uid = $(el).data('prod_uid');

        var param = {
            ProdUid: prod_uid,
            PUseSt: PUseSt
        };

        $.post('AjaxProductChangeViewBeauty', param, function (result) {
            console.log(result);
        });


    }

    function productimg(puid){

        // console.log('test');

        $("#imagegallerymodalDialog").html("");



        var param = {produid : puid}

        $.post("/Home/ModalProductImage", param, function (html) {

            $('#imagegallerymodalDialog').html(html);

            $("#imagegallerymodal").modal('show');

        });
    }

</script>
