@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="visual" class="visual visual--sub" aria-labelledby="visual-tit" data-skip>
    <div class="inner">
        <h1 id="visual-tit" class="visual__title visual__title--formula">
            <span class="visual__text visual__text">About</span>
            <span class="visual__text visual__text">Design Planet</span>
        </h1>
    </div>
</section>
<main id="main" class="page" role="main">
    <div class="inner">
        <div id="about" class="ly-split" data-skip>
            <section class="ly-split__panel">
                <div class="ly-split__int">
                    <h2 class="ly-split__tit">
                        The Power Behind <br>AllinKBeauty
                    </h2>
                    <div class="ly-split__content">
                        <p class="ly-split__desc">Design Planet Co., Ltd is a leading Korean OEM, ODM, and OBM service provider with extensive experience and a proven track record in the beauty industry.</p>
                        <p class="ly-split__desc">Our expert team combines cutting-edge technology with deep market insight to deliver high-quality, customized solutions that bring your beauty brand to life.</p>
                        <p class="ly-split__desc">Serving clients across the globe, we are committed to meticulous craftsmanship, innovative development processes, and trusted international partnerships — ensuring every product we help create meets the highest standards of K-beauty excellence.</p>
                    </div>
                </div>
            </section>
            <script src="~/js/layout/common/visual.js"></script>
            <section class="ly-split__panel">
                <div class="ly-split__int">
                    <h2 class="ly-split__tit">Trusted by <br><span>Brands Worldwide</span></h2>
                    <div class="ly-split__content">
                        <p class="ly-split__desc">We are proud to have partnered with a diverse range of brands, helping them grow and succeed in global markets. Here are some of the trusted partners who have joined us on their K-beauty journey</p>
                    </div>
                </div>
            </section>
            <script src="~/js/layout/common/panels.js"></script>
            <div class="contact__legend grid-list--about">GLOBAL</div>
            <ul class="grid-list">
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/1LOREAL.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/2Pfizer.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/3WETHERM.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/4ROHTO.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/5BESOMA.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/6relume.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/7gsk.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/8LIFEJACKET.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/9BLINGPOP.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/10BEAUTYLOCKER.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/11CARSLAN.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/12PROYA.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/13KAFELLON.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/14JALA.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/15FOFIFORI.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/16BONJOUR.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/17SanitaUZA.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/18Yinuopu.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/19haruki.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/20BAWANG.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/21JT.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/22INTERNATIONAL.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/23CS.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/24PrincessHouse.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/global/25LESSONIA.jpg")" alt="client logo" class="grid-list__img"></li>
            </ul>
            <div class="contact__legend grid-list--about">DOMESTIC</div>
            <ul class="grid-list">
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/1SHINSEGAE.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/2TIRTIR.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/3NUTSELINE.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/4PERIPERA.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/5AEKYUNG.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/6MISSHA.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/7FILA.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/8TONYMOLY.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/9CJSHOPPING.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/10theSAEM.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/11SK.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/12GS홈쇼핑.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/13emart.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/14CLIO.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/15HANSKIN.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/16HANAMAI.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/17FORBEAUT.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/18YAKSONBEAUTY.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/19GESGEP.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/20HIDEHERE.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/21DOOSAN.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/22Coreana.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/23LAP.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/24TRY.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/25HANDOK.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/26현대약품.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/27소망화장품.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/28대상Weilife.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/29woongjin.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/30univera.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/31carverkorea.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/32꽃을든남자.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/33CHUNGDAMLIFE.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/34MEDISOS.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/35ATRUE.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/36BBLABORATORIES.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/37scentlier.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/38bebereel.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/39EGFOLOGY.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/40KOCOMEI.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/41baviphat.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/42onl.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/43Jejuindi.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/44DSB.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/45Areb.jpg")" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="@Url.Content("~/images/domestic/46Artpia.jpg")" alt="client logo" class="grid-list__img"></li>
            </ul>
            <script src="~/js/layout/formula/grid.js"></script>
        </div>
    </div>
</main>   