@using Freemold.Modules.Models
@{
    var productinfo = ViewBag.productinfo as KbeautyProductModel ?? new KbeautyProductModel();
    
}

<div class="prd-view">
    <div class="inner">
        <div class="view-container">
            <div class="view-slide">
                <div class="view-slide__main">
                    <div class="swiper-wrapper">
                        @if (!string.IsNullOrWhiteSpace(productinfo.PImg1))
                        {
                            <div class="swiper-slide"><img src="https://www.freemold.net/data/Product/@(productinfo.PImg1)" alt="product img01"></div>
                        }
                        @if (!string.IsNullOrWhiteSpace(productinfo.PImg2))
                        {
                            <div class="swiper-slide"><img src="https://www.freemold.net/data/Product/@(productinfo.PImg2)" alt="product img02"></div>
                        }
                        @if (!string.IsNullOrWhiteSpace(productinfo.PImg3))
                        {
                            <div class="swiper-slide"><img src="https://www.freemold.net/data/Product/@(productinfo.PImg3)" alt="product img03"></div>
                        }
                        @if (!string.IsNullOrWhiteSpace(productinfo.PImg4))
                        {
                            <div class="swiper-slide"><img src="https://www.freemold.net/data/Product/@(productinfo.PImg4)" alt="product img04"></div>
                        }
                        @if (!string.IsNullOrWhiteSpace(productinfo.PImg5))
                        {
                            <div class="swiper-slide"><img src="https://www.freemold.net/data/Product/@(productinfo.PImg5)" alt="product img05"></div>
                        }
                        @if (!string.IsNullOrWhiteSpace(productinfo.PImg6))
                        {
                            <div class="swiper-slide"><img src="https://www.freemold.net/data/Product/@(productinfo.PImg6)" alt="product img06"></div>
                        }

                    </div>
                </div>
                <div class="view-slide__thumb">
                    <div class="swiper-wrapper">
                        @if (!string.IsNullOrWhiteSpace(productinfo.PImg1))
                        {
                            <div class="swiper-slide"><img src="https://www.freemold.net/data/Product/@(productinfo.PImg1.Replace("/", "/thumb/"))" alt="product thumb img01"></div>
                        }
                        @if (!string.IsNullOrWhiteSpace(productinfo.PImg2))
                        {
                            <div class="swiper-slide"><img src="https://www.freemold.net/data/Product/@(productinfo.PImg2.Replace("/", "/thumb/"))" alt="product thumb img02"></div>
                        }
                        @if (!string.IsNullOrWhiteSpace(productinfo.PImg3))
                        {
                            <div class="swiper-slide"><img src="https://www.freemold.net/data/Product/@(productinfo.PImg3.Replace("/", "/thumb/"))" alt="product thumb img03"></div>
                        }
                        @if (!string.IsNullOrWhiteSpace(productinfo.PImg4))
                        {
                            <div class="swiper-slide"><img src="https://www.freemold.net/data/Product/@(productinfo.PImg4.Replace("/", "/thumb/"))" alt="product thumb img04"></div>
                        }
                        @if (!string.IsNullOrWhiteSpace(productinfo.PImg5))
                        {
                            <div class="swiper-slide"><img src="https://www.freemold.net/data/Product/@(productinfo.PImg5.Replace("/", "/thumb/"))" alt="product thumb img05"></div>
                        }
                        @if (!string.IsNullOrWhiteSpace(productinfo.PImg6))
                        {
                            <div class="swiper-slide"><img src="https://www.freemold.net/data/Product/@(productinfo.PImg6.Replace("/", "/thumb/"))" alt="product thumb img06"></div>
                        }
                    
                        
                    </div>
                </div>
            </div>
            <div class="view-info">
                <section class="view-info__int">
                    <h1 class="view-info__tit">@productinfo.PCode</h1>
                </section>
                <div class="view-info__detail">
                    <section class="view-info__panel">
                        <div class="view-info__header">
                            <h2 class="view-info__cate">CAPACITY</h2>
                            <p class="view-info__desc">@productinfo.PCapacity @productinfo.PCapUnit</p>
                        </div>
                    </section>
                    <section class="view-info__panel">
                        <div class="view-info__header">
                            <h2 class="view-info__cate">SIZE</h2>
                            <p class="view-info__desc">@productinfo.PSize</p>
                        </div>
                    </section>
                    <section class="view-info__panel">
                        <div class="view-info__header">
                            <h2 class="view-info__cate">MATERIAL</h2>
                            <p class="view-info__desc">@productinfo.PQuality</p>
                        </div>
                    </section>
                </div>
                <div class="view-info__footer">
                    <!--<button type="button" class="view-info__wish">
                        <img src="/images/wish_icon.svg" alt="Remember my wish list">
                    </button>-->
                    <a href="#" class="view-info__contact" onclick="flist()">List</a>
                    <a href="#" class="view-info__contact">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="Packaginglist" action="/Packaging/" method="POST" style="display:none;">
    <input type="hidden" id="page" name="page" value="@ViewBag.page" />
    <input type="hidden" id="code1" name="code1" value="@ViewBag.code1" />
    <input type="hidden" id="code2" name="code2" value="@ViewBag.code2" />
    <input type="hidden" id="volume1" name="volume1" value="@ViewBag.volume1" />
    <input type="hidden" id="volume2" name="volume2" value="@ViewBag.volume2" />
</form>
<script>
    function flist(){

        $('#Packaginglist').submit();

    }
</script>